@model IEnumerable<Nutrition.Models.Diary>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>My diary</h1>

    <th>@Html.DisplayNameFor(model => model.Date)</th>
</center>
    <h3>Breakfast</h3>
    <p>
        <a asp-action="Create">Add items</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Water)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Water)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
